# TeX TRASH FILES
*.aux
*.idx
*.toc
*.log
*.lof
*.lot
*.out
*.ilg
*.ind
*.tmp
*.gls
*.glo
*.fdb_latexmk
*.fls
*.xtr
*.synctex.gz
*.synctex*
_minted-*/
svg-inkscape/

# RENDERED FILES
*.pdf
*.png
*.svg
*.csv

# MACOS GIT FILES
.DS_Store

# ONLY WANTED

!Data/*
!HQ/*
!Image/*

!Report.pdf
